h1 {
  background-color: rgb(227, 99, 99);
  padding: 20px;
  border: solid black;
  border-width: 4px;
}

p {
  background-color: rgb(219, 211, 227);
  border: solid #020281;
  border-width: 7px;
  padding: 12px;
}

#li1,
#li3 {
  background-color: yellow;
}

b {
  background-color: white;
  padding: 12px;
  border: solid black;
  border-width: 3px;
}
