* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.heading-title{
    text-align:center;
    color:#1f3f90;
    font-size:30px;
    font-weight:500;
}

.tab-title:hover {
    /* change color on hover */
    color: blue;
}

.testing{
      width:320px;
    background:#ffffff;
    border-radius:12px;
    padding:35px 28px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.tabs {
    display: flex;
    flex-wrap: wrap;
}


.testing:hover {
    background:rgb(255, 215, 215);
}



.icon:hover {
    width:40px;
    height:40px;
    background:#ff2d2d;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon {
    
}